:root.theme-dark {
  --main-bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --main-content-color: #ff0070;
  --main-title-color: #db00ff;
  --bg-color: #000028;
  --title-color: #000028;
  --content-text-color: #f1b2ce;
  --button-hover: rgba(255, 0, 112, 0.4);
  --header-decoration-text: #ff0070;
}
