:root.theme-light {
  --main-bg-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --main-title-color: #ffc2e6;
  --bg-color: #fff1f7;
  --title-color: #353430;
  --main-content-color: #353430;
  --content-text-color: #353430;
  --button-hover: rgba(50, 49, 45, 0.4);
  --header-decoration-text: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --main-title-color: #ffc2e6;
    --bg-color: #fff1f7;
    --title-color: #353430;
    --main-content-color: #353430;
    --content-text-color: #353430;
    --button-hover: rgba(50, 49, 45, 0.4);
    --header-decoration-text: transparent;
  }
}
