.page {
  background-image: var(--main-bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--main-content-color);
  border-block-start: 1px solid var(--main-content-color);
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--main-content-color);
  border-block-end: 1px solid var(--main-content-color);
  bottom: 10px;
  left: 10px;
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
}

.header__decoration-text {
  position: absolute;
  top: 10px;
  right: 19px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--main-font-size);
  line-height: 139%;
  text-transform: uppercase;
  color: var(--header-decoration-text);
}

.header__decoration-text::after {
  content: "";
  display: block;
  box-shadow: 0 0 5px 3px var(--header-decoration-text);
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--header-decoration-text);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  color: var(--main-content-color);
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--main-font-size);
  line-height: 100%;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  padding: 1px 13px 4px;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover);
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.header-title {
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: var(--main-title-font-size);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--main-title-color);
}

.description {
  align-self: center;
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: var(--main-font-size);
  line-height: 130%;
  block-size: fit-content;
  color: var(--title-color);
}

.title-decor {
  background-color: var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 10px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: var(--main-font), sans-serif;
  font-style: normal;
  font-weight: var(--font-weight-bold);
  font-size: var(--main-font-size);
  line-height: 130%;
}

.section-title {
  font-size: inherit;
  color: var(--main-content-color);
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-title {
  font-size: inherit;
  color: var(--title-color);
}

.card-content {
  font-size: inherit;
  font-weight: var(--font-weight-normal);
  color: var(--content-text-color);
  margin-top: 10px;
}

.link {
  text-shadow: 2px 2px 0px var(--accent-color);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--content-text-color);
}

.link:focus-visible {
  outline: 1px solid var(--content-text-color);
}

.additional-decoration {
  font-weight: var(--font-weight-normal);
}

.section-gallery {
  gap: 10px;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-title {
  text-shadow: 2px 2px 0 #ff0070;
}

@media (width >= 768px) {
  .header {
    min-block-size: 768px;
    padding: 20px 20px 20px 0;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__decoration-text {
    top: 20px;
    right: 29px;
  }

  .header-title {
    --main-title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .description {
    justify-self: end;
    inline-size: 48.85%;
  }

  .main {
    padding: 60px 20px;
    gap: 80px;
  }

  .section__reasons {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .section__concentration-reduce {
    display: grid;
    grid-template-rows: min-content 1fr;
  }

  .section-title {
    inline-size: 13em;
    justify-self: start;
  }

  .section__concentration-help {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .section-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .card-title {
    grid-column: 1 / span 3;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image__sunset {
    grid-column: 1 / span 2;
  }

  .image__ice-cream {
    grid-row: 2 / span 2;
    grid-column: 3;
  }

  .image__tape {
    grid-row: 3 / span 2;
  }

  .image__street {
    grid-column: 2 / span 2;
  }

  .image__books {
    grid-column-start: 2;
    grid-row-start: 3;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding-left: 20px;
    padding-top: 1px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 11px;
  }

  .header__theme-menu-button {
    cursor: pointer;
  }

  .section-title {
    inline-size: 17.5em;
  }

  .section__reasons {
    grid-template-columns: min-content 2fr;
  }

  .card-list__concentration-reduce {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section__concentration-help {
    grid-template-columns: min-content 2fr;
  }
}
