:root {
  --main-bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --main-content-color: #ff0070;
  --main-title-color: #db00ff;
  --bg-color: #000028;
  --title-color: #000028;
  --content-text-color: #f1b2ce;
  --button-hover: rgba(255, 0, 112, 0.4);
  --header-decoration-text: #ff0070;
  --main-font: "IBM Plex Mono";
  --main-font-size: 18px;
  --main-title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-weight-bold: 700;
  --font-weight-normal: 400;
}
